.layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "agents"
    "body";
  padding: 20px;  /* 增加填充以在内部留出空间 */
  height: 100vh;
  box-sizing: border-box;  /* 确保填充和边框不会增加元素的总宽度和高度 */
  margin: 0 auto;  /* 在左右两侧留出空间 */
  max-width: 1200px;  /* 限制最大宽度 */
}

.header {
  grid-area: header;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;  /* 增加填充以在内部留出空间 */
  background-color: #f8f9fa;  /* 添加背景色 */
}

.agents {
  grid-area: agents;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;  /* 增加填充以在内部留出空间 */
  background-color: #f8f9fa;  /* 添加背景色 */
}

.body {
  grid-area: body;
  overflow: auto; 
  padding: 10px;  /* 增加填充以在内部留出空间 */
  background-color: #f8f9fa;  /* 添加背景色 */
}