.chatMessage {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  position: relative;
  border: 1px solid transparent;  /* 预设一个透明的边框 */
}

.chatMmessage.selected {
  border: 1px solid #007BFF;
  /* 设置边框为蓝色 */
}

.avatar {
  width: 30px;
  max-height: 30px;
  margin-right: 1em;
}

.messageContent {
  flex-grow: 1;
}

.senderName {
  font-weight: bold;
}

.messageText {
  margin: 0.5em 0;
}

.quoteList {
  padding-left: 1em;
  list-style-type: disc;
}

.timestamp {
  color: #888;
  font-size: 0.8em;
}
