.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
}

.table-of-contents {
  grid-column: 1;
  grid-row: 1 / span 2;

  overflow: auto;
  height: calc(100vh - 150px);

  margin: 5px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff; 
}

.editor {
  grid-column: 2;
  grid-row: 2;

  overflow: auto;
  height: calc(100vh - 200px);

  margin-left: 5px;
  background-color: #f5f5f5;
}

.toolbar {
  grid-column: 2;
  grid-row: 1;
  align-self: start;

  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.vars {
  grid-column: 3;
  grid-row: 1;
}

.var-editor {
  grid-column: 3;
  grid-row: 2;
}