.editor-container {
  display: grid;
  grid-template-rows: 3em auto;
  grid-template-columns: 1fr;
  margin-left: 5px;
  height: 100%;
  background-color: #f5f5f5;
}

.editor-toolbar {
  grid-row: 1;
  grid-column: 1 / span 2;
  align-self: start;

  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.editor {
  grid-row: 2;
  grid-column: 1;

  margin: 5px;
  padding: 0px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: text;
  height: calc(100% - 30px);
  overflow: auto;
  background-color: #fff;
}

.table-of-contents {
  grid-row: 2;
  grid-column: 2;
  margin: 5px;
  height: calc(100% - 30px);
  overflow: auto;
  padding: 0px 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}